Cpp/._HelloWorld.cpp
Cpp/HelloWorld
Java/._HelloWorld.java
Java/HelloWorld.class
Javascript/._HelloWorld.css
Javascript/._HelloWorld.html
Javascript/._HelloWorld.js
C/._HelloWorld.c
C/HelloWorld
VB_WPF/HelloWorld/obj/x64/Release/wMain.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/Window1.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/WMain.g.vb
VB_WPF/HelloWorld/obj/x64/Release/WMain.baml
VB_WPF/HelloWorld/obj/x64/Release/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.xml
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.vbproj.FileListAbsolute.txt
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.g.resources
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.Resources.resources
VB_WPF/HelloWorld/obj/Release/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/Release/HelloWorld_MarkupCompile.i.lref
VB_WPF/HelloWorld/obj/Debug/MainWindow.g.vb
VB_WPF/HelloWorld/obj/Debug/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/Debug/HelloWorld_MarkupCompile.lref
VB_WPF/HelloWorld/obj/Debug/HelloWorld_MarkupCompile.i.lref
VB_WPF/HelloWorld/obj/Debug/Application.g.vb
VB_WPF/HelloWorld/obj/Debug/Application.g.i.vb
VB_WPF/HelloWorld/bin/x64/Release/HelloWorld.xml
VB_WPF/HelloWorld/bin/x64/Release/HelloWorld.exe.config
VB_WPF/.vs/HelloWorld/v15/Server/sqlite3/storage.ide
VB_WPF/.vs/HelloWorld/v15/Server/sqlite3/db.lock
