Cpp/._HelloWorld.cpp
Cpp/HelloWorld
Java/._HelloWorld.java
Java/HelloWorld.class
Javascript/._HelloWorld.css
Javascript/._HelloWorld.html
Javascript/._HelloWorld.js
C/._HelloWorld.c
C/HelloWorld
VB_WPF/HelloWorld/obj/x64/Release/wMain.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/Window1.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/WMain.g.vb
VB_WPF/HelloWorld/obj/x64/Release/WMain.baml
VB_WPF/HelloWorld/obj/x64/Release/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.xml
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.vbproj.FileListAbsolute.txt
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.g.resources
VB_WPF/HelloWorld/obj/x64/Release/HelloWorld.Resources.resources
VB_WPF/HelloWorld/obj/Release/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/Release/HelloWorld_MarkupCompile.i.lref
VB_WPF/HelloWorld/obj/Debug/MainWindow.g.vb
VB_WPF/HelloWorld/obj/Debug/MainWindow.g.i.vb
VB_WPF/HelloWorld/obj/Debug/HelloWorld_MarkupCompile.lref
VB_WPF/HelloWorld/obj/Debug/HelloWorld_MarkupCompile.i.lref
VB_WPF/HelloWorld/obj/Debug/Application.g.vb
VB_WPF/HelloWorld/obj/Debug/Application.g.i.vb
VB_WPF/HelloWorld/bin/x64/Release/HelloWorld.xml
VB_WPF/HelloWorld/bin/x64/Release/HelloWorld.exe.config
VB_WPF/.vs/HelloWorld/v15/Server/sqlite3/storage.ide
VB_WPF/.vs/HelloWorld/v15/Server/sqlite3/db.lock
VB_UWP/.vs/HelloWorld/v15/Server/sqlite3/storage.ide
VB_UWP/.vs/HelloWorld/v15/Server/sqlite3/db.lock
VB_UWP/HelloWorld/bin/x64/Release/resources.pri
VB_UWP/HelloWorld/bin/x64/Release/ilc/resources.pri
VB_UWP/HelloWorld/bin/x64/Release/ilc/SharedStubs.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/SafeTypes.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/PInvoke.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/ImplTypes.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/Helpers.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/HelloWorld.xr.xml
VB_UWP/HelloWorld/bin/x64/Release/ilc/DotNetNative.debugger-services-def.json
VB_UWP/HelloWorld/bin/x64/Release/ilc/Data.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/Wide310x150Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/StoreLogo.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/Square44x44Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/Square150x150Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/SplashScreen.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/Assets/LockScreenLogo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/ilc/AssemblyInfo.g.cs
VB_UWP/HelloWorld/bin/x64/Release/ilc/AppxManifest.xml
VB_UWP/HelloWorld/bin/x64/Release/ilc/Adapters.g.cs
VB_UWP/HelloWorld/bin/x64/Release/MainPage.xbf
VB_UWP/HelloWorld/bin/x64/Release/HelloWorld.xr.xml
VB_UWP/HelloWorld/bin/x64/Release/HelloWorld.xml
VB_UWP/HelloWorld/bin/x64/Release/HelloWorld.build.appxrecipe
VB_UWP/HelloWorld/bin/x64/Release/AppxManifest.xml
VB_UWP/HelloWorld/bin/x64/Release/AppX/vs.appxrecipe
VB_UWP/HelloWorld/bin/x64/Release/AppX/resources.pri
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/Wide310x150Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/StoreLogo.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/Square44x44Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/Square150x150Logo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/SplashScreen.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/Assets/LockScreenLogo.scale-200.png
VB_UWP/HelloWorld/bin/x64/Release/AppX/AppxManifest.xml
VB_UWP/HelloWorld/bin/x64/Release/App.xbf
VB_UWP/HelloWorld/obj/x86/Release/XamlTypeInfo.g.vb
VB_UWP/HelloWorld/obj/x86/Release/XamlSaveStateFile.xml
VB_UWP/HelloWorld/obj/x86/Release/MainPage.g.vb
VB_UWP/HelloWorld/obj/x64/Release/pri.resfiles
VB_UWP/HelloWorld/obj/x64/Release/layout.resfiles.intermediate
VB_UWP/HelloWorld/obj/x64/Release/layout.resfiles
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/sgargs.rsp
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/rhbindargs.HelloWorld.rsp
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/gkargs.rsp
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/TransformedSRWR/System.Runtime.WindowsRuntime.dll.ILTransformTask.repro
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/Native/DotNetNative.debugger-services-def.json
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/Native.res
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/MDIL/HelloWorld.rsp
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/MDIL/HelloWorld.mdilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/MDIL/HelloWorld.mdilexe
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Tasks.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Tasks.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Tasks.Parallel.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Tasks.Parallel.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Overlapped.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Threading.Overlapped.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.Extensions.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.Extensions.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.CodePages.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Text.Encoding.CodePages.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Principal.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Principal.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.X509Certificates.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.X509Certificates.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Primitives.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Primitives.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Numerics.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.DeveloperExperience.AppX.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Numerics.Vectors.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Numerics.Vectors.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.UnmanagedMemoryStream.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.UnmanagedMemoryStream.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.IsolatedStorage.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.IsolatedStorage.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.FileSystem.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.FileSystem.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.FileSystem.Primitives.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.IO.FileSystem.Primitives.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.Extensions.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.Extensions.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.Calendars.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Tools.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Tools.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.StackTrace.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.StackTrace.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Debug.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Debug.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Contracts.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Diagnostics.Contracts.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Data.Common.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Data.Common.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.ComponentModel.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.ComponentModel.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Collections.NonGeneric.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Collections.NonGeneric.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.AppContext.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.AppContext.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/Microsoft.VisualBasic.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/Microsoft.VisualBasic.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.res
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.reflectionlog.csv
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.metadata
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.ilexe.ILTransformTask.repro
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.ilexe
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.forwarders.csv
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.csv
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.closure.csv
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.McgInterop.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/HelloWorld.McgInterop.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/SharedStubs.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/SafeTypes.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/PInvoke.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/ImplTypes.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/Helpers.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/Data.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/AssemblyInfo.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop/Adapters.g.cs
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/HelloWorld.McgInterop.rsp
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/BuildInfo/BuildInfo.txt
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/BuildInfo/BuildInfo.res
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/BuildInfo/BuildInfo.rc
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/resources.pri
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/WinMetadata/Windows.winmd
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/My Project/Default.rd.xml
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/HelloWorld.xr.xml
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/Wide310x150Logo.scale-200.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/StoreLogo.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/Square44x44Logo.scale-200.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/Square150x150Logo.scale-200.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/SplashScreen.scale-200.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/Assets/LockScreenLogo.scale-200.png
VB_UWP/HelloWorld/obj/x64/Release/ilc/in/AppxManifest.xml
VB_UWP/HelloWorld/obj/x64/Release/ilc/ilclog.csv
VB_UWP/HelloWorld/obj/x64/Release/ilc.HelloWorld.rsp
VB_UWP/HelloWorld/obj/x64/Release/embed.resfiles.intermediate
VB_UWP/HelloWorld/obj/x64/Release/embed.resfiles
VB_UWP/HelloWorld/obj/x64/Release/XamlTypeInfo.g.vb
VB_UWP/HelloWorld/obj/x64/Release/XamlSaveStateFile.xml
VB_UWP/HelloWorld/obj/x64/Release/ResourceHandlingTask.state
VB_UWP/HelloWorld/obj/x64/Release/ProjectArchitectures.txt
VB_UWP/HelloWorld/obj/x64/Release/MultipleQualifiersPerDimensionFound.txt
VB_UWP/HelloWorld/obj/x64/Release/MainPage.xbf
VB_UWP/HelloWorld/obj/x64/Release/MainPage.xaml
VB_UWP/HelloWorld/obj/x64/Release/MainPage.g.vb
VB_UWP/HelloWorld/obj/x64/Release/MainPage.g.i.vb
VB_UWP/HelloWorld/obj/x64/Release/HelloWorld.xr.xml
VB_UWP/HelloWorld/obj/x64/Release/HelloWorld.xml
VB_UWP/HelloWorld/obj/x64/Release/HelloWorld.vbproj.FileListAbsolute.txt
VB_UWP/HelloWorld/obj/x64/Release/HelloWorld.vbproj.CopyComplete
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Xml.XmlSerializer.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Xml.XmlDocument.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Xml.XDocument.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Xml.ReaderWriter.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Threading.Tasks.Parallel.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Threading.Tasks.Dataflow.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Threading.Overlapped.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Text.RegularExpressions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Text.Encoding.CodePages.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Cryptography.X509Certificates.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Cryptography.Primitives.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Cryptography.Encoding.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Cryptography.Cng.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Cryptography.Algorithms.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Security.Claims.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Runtime.WindowsRuntime.UI.Xaml.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Runtime.WindowsRuntime.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Runtime.Serialization.Primitives.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Runtime.Numerics.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Runtime.Extensions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Resources.ResourceManager.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Reflection.TypeExtensions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Reflection.Metadata.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Reflection.Extensions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Private.Uri.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Private.ServiceModel.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Private.DataContractSerialization.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.ObjectModel.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Numerics.Vectors.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.WebSockets.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.WebSockets.Client.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.WebHeaderCollection.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.Sockets.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.Requests.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.Primitives.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.NetworkInformation.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.NameResolution.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Net.Http.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Linq.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Linq.Queryable.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Linq.Parallel.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Linq.Expressions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.UnmanagedMemoryStream.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.IsolatedStorage.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.FileSystem.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.Compression.ZipFile.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.IO.Compression.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Globalization.Extensions.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Dynamic.Runtime.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Diagnostics.Tracing.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Data.Common.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.ComponentModel.EventBasedAsync.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.ComponentModel.Annotations.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Collections.Specialized.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Collections.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Collections.NonGeneric.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Collections.Immutable.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Collections.Concurrent.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.Buffers.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.System.AppContext.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.Microsoft.VisualBasic.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/FxResources.Microsoft.CSharp.SR.resw
VB_UWP/HelloWorld/obj/x64/Release/App.xbf
VB_UWP/HelloWorld/obj/x64/Release/App.xaml
VB_UWP/HelloWorld/obj/x64/Release/App.g.vb
VB_UWP/HelloWorld/obj/x64/Release/App.g.i.vb
VB_UWP/HelloWorld/obj/ARM/Debug/App.g.vb
VB_UWP/HelloWorld/obj/x86/Release/MainPage.g.i.vb
VB_UWP/HelloWorld/obj/x86/Release/App.g.vb
VB_UWP/HelloWorld/obj/x86/Release/App.g.i.vb
VB_UWP/HelloWorld/obj/x86/Debug/XamlTypeInfo.g.vb
VB_UWP/HelloWorld/obj/x86/Debug/XamlSaveStateFile.xml
VB_UWP/HelloWorld/obj/x86/Debug/MainPage.g.vb
VB_UWP/HelloWorld/obj/x86/Debug/MainPage.g.i.vb
VB_UWP/HelloWorld/obj/x86/Debug/App.g.vb
VB_UWP/HelloWorld/obj/x86/Debug/App.g.i.vb
VB_UWP/HelloWorld/obj/x64/Release/resources.resfiles.intermediate
VB_UWP/HelloWorld/obj/x64/Release/resources.resfiles
VB_UWP/HelloWorld/obj/x64/Release/qualifiers.txt.intermediate
VB_UWP/HelloWorld/obj/x64/Release/qualifiers.txt
VB_UWP/HelloWorld/obj/x64/Release/priconfig.xml.intermediate
VB_UWP/HelloWorld/obj/x64/Release/priconfig.xml
VB_UWP/HelloWorld/obj/x64/Release/pri.resfiles.intermediate
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Encoding.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Encoding.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Cng.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Cng.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Algorithms.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Cryptography.Algorithms.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Claims.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Security.Claims.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.WindowsRuntime.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.WindowsRuntime.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.WindowsRuntime.UI.Xaml.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.WindowsRuntime.UI.Xaml.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Serialization.Primitives.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Serialization.Primitives.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Numerics.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.InteropServices.WindowsRuntime.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.InteropServices.WindowsRuntime.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Handles.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Runtime.Handles.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Reflection.DispatchProxy.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Reflection.DispatchProxy.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.WinRTInterop.CoreLib.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.WinRTInterop.CoreLib.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.StackTraceGenerator.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.StackTraceGenerator.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.PortableThunks.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.PortableThunks.ildll
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Private.DeveloperExperience.AppX.ilpdb
VB_UWP/HelloWorld/obj/x64/Release/ilc/intermediate/ILTransformed/System.Globalization.Calendars.ildll
